@import 'variables';
@import 'colors';
@import 'mixins';


:focus {
  outline: none;
  box-shadow: none;
}

div,
p,
form,
input,
a,
span,
button {
  box-sizing: border-box;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2em;
  color: #090808;
  font-weight: 900;
}

h1 {
  font-size: 30px;
  color: $white;
}

h2 {
  font-size: 20px;

}

h3 {
  font-size: 16px;
  font-weight: bold;
  color: #333333;
  
}

a,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}