@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"),
    url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import 'fonts';

body {
  margin-top: 100px;
}

div {
  display: flex;
  font-size: 20px;

  font-family: 'SpecialElite-Regular', serif;

  @media (max-width: 767px) {
    font-size: 30px;
  }
}

span {
  font-size: 10px;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}