@import 'global';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'colors';

body {
  margin-top: 100px;
}

div {
  font-size: 30px;

  font-family: 'SpecialElite-Regular', serif;
  text-align: center;
  margin: 0 auto;

  span {
    margin-left: 10px;
    font-size: 24px;

    &:nth-child(1) {
      color: $gulp;
    }

    &:nth-child(2) {
      color: $sass;
    }


    @include media-breakpoint-down(md) {
      font-size: 30px;
    }
  }

  @include media-breakpoint-down(md) {
    font-size: 40px;
  }
}