@import 'global';
@import 'variables';
@import 'mixins';
@import 'fonts';
@import 'colors';

body {
  margin-top: 100px;
}

div {
  display: flex;
  font-size: 20px;

  font-family: 'SpecialElite-Regular', serif;

  @media (max-width: 767px) {
    font-size: 30px;
  }
}

span {
  font-size: 10px;

  @media (max-width: 767px) {
    font-size: 20px;
  }
}